body{
  background-image: linear-gradient(#ffeaa7, #81ecec);
}
.imgHeader{
  width:4.5rem;
  height: 4.5rem;
  display: block;
  margin: 3% auto;
  border-radius: 15px;
}
h1{
  text-align: center;
}
form{
  width: 30%;
  height: 400px;
  background-color: pink;
  display: block;
  margin:3% auto;
  padding: 1%;
  align-items: center;
}
.form-group{
  margin:5% auto;
  text-align: center;
}
.form-control{
  max-width: 60%;
  margin: auto;
}
button{
  margin:3% 14%;
  display: inline-block;
  max-width: 30%;
  align-items: center;
}
